<!DOCTYPE html>
<html>
  <head>
    <title>Roma Finishes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'roma_app' %>
    <%= javascript_pack_tag 'scroll' %>
  </head>

  <body>
  <section id="secone">
  </section>
  <section id="sectwo">
  </section>
  <section id="secthree">
  </section>
  <section id="secfour">
  </section>
    <%= yield %>
  </body>
</html>
